version: "3.9"

services:

#  mysql:
#    image: mysql:8.0
#    container_name: ordering-mysql
#    restart: unless-stopped
#    ports:
#      - "3306:3306"
#    environment:
#      MYSQL_ROOT_PASSWORD: 123@123
#      MYSQL_DATABASE: ordering
#      MYSQL_ROOT_HOST: "%"
#    command:
#      --default-authentication-plugin=mysql_native_password
#      --character-set-server=utf8mb4
#      --collation-server=utf8mb4_unicode_ci
#    volumes:
#      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7.2
    container_name: ordering-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.4
    container_name: ordering-keycloak
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data

volumes:
#  mysql_data:
  redis_data:
  keycloak_data:
